<div class="container" style="margin-top: 90px;">
    <div class="row justify-content-center" style="margin-bottom: -15px;">
        <div class="login-dark" style="background-image: none;width: 95%;background-color: #0f91ee;padding: 40px;border-radius: 4px;box-shadow: 3px 3px 4px rgba(0,0,0,0.2);height: auto;">
            <h2 class="text-center" style="color: white;">Especialidades disponibles del día</h2>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-6" style="background-color:white;border-radius: 10px;">
                        <h3>Viernes 3 de setiembre</h3>
                    </div>
                    <div class="col-3"></div>
                </div>
            </div>
            <!-- <a routerLink="/empleado/registrar" class="btn btn-primary" role="button" href="#" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(255,165,85);margin: 15px;margin-right: 0;margin-left: 0;color: rgba(255,255,255,0.9);">Registrar Empleado</a> -->
            <div class="table-responsive table-striped" style="border-radius: 10px;">
                <table class="table" style="margin:0px;">
                    <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                        <tr>
                            <th class="align-middle">Doctor</th>
                            <th class="align-middle">Especialidad</th>
                            <th class="align-middle">Hora Inicio</th>
                            <th class="align-middle">Hora Fin</th>
                        </tr>
                    </thead>
                    <tbody style="background-color:white">
                        <tr>
                            <td class="align-middle">Carlos Vasquez</td>
                            <td class="align-middle">Cardiología<br></td>
                            <td class="align-middle">9:00 a.m.<br></td>
                            <td class="align-middle">13:00 p.m.<br></td>
                        </tr>
                        <tr>
                            <td class="align-middle">Aldo Galvez</td>
                            <td class="align-middle">Dermatología<br></td>
                            <td class="align-middle">14:00 p.m.<br></td>
                            <td class="align-middle">17:00 p.m.<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
