<div class="login-dark" style="background-image: url(&quot;assets/img/etc/doctor.jpg&quot;);">
    <form method="post" style="background-color: rgba(255,255,255,0.9);" [formGroup]="empleadoForm">
        <h2 class="text-center" style="color: #ffa555;font-size: 26px; margin-bottom:20px;">Editar<br>Empleado</h2>

        <div class="form-group">
            <input class="form-control" type="number" placeholder="DNI" formControlName="dni"
                style="color: rgb(0,0,0);">
            <small class="form-text text-danger d-none">El rango debe ser de 8 números</small>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="nombre" placeholder="Nombre" formControlName="nombre"
                autocomplete="off" style="color: rgb(0,0,0);">
            <small class="form-text text-danger d-none">Ingrese un nombre correcto</small>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="apePaterno" placeholder="Apellido Paterno"
                formControlName="apePaterno" autocomplete="off" style="color: rgb(0,0,0);">
            <small class="form-text text-danger d-none">Ingrese un apellido correcto</small>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="apeMaterno" placeholder="Apellido Materno"
                formControlName="apeMaterno" autocomplete="off" style="color: rgb(0,0,0);">
            <small class="form-text text-danger d-none">Ingrese un apellido correcto</small>
        </div>
        <div class="form-group">
            <select class="form-control form-control-sm" style="color: rgb(0,0,0);" formControlName="especialidad" placeholder="Especialidad">
                <option value="1">Pediatría</option>
                <option value="2">Cardiología</option>
                <option value="3">Oftalmología</option>
                <option value="4">Emergencias</option>
            </select>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" (click)="_onSubmit()"
                style="background-color: #ffa555;font-weight: normal;">Guardar cambios</button>
        </div>
    </form>
</div>