<nav class="navbar fixed-top navbar-expand-lg navbar-dark " id="mainNav" style="background-color: #0f91ee;">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" routerLink="home" style="color: white !important;"><b>CLINICA</b></a>
        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarResponsive" type="button" data-toogle="collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto text-uppercase">
                <!--
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#portfolio" style="color: rgb(255,165,85);">PROYECTOS</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" href="#services" style="color: rgb(255,165,85);">DEPARTAMENTOs</a></li>
              -->
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="home" style="color: white;">Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="/empleado/lista" style="color: white;">Empleados</a></li>                
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="aboutus" style="color: white;">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="team" style="color: white;">Team</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link active js-scroll-trigger" routerLink="contactus" style="color: white;">Contact us</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: white;">Control de horario</a>
                    <div class="dropdown-menu">
                        <!-- <a class="dropdown-item" routerLink="horario/registrar">Registrar Horario</a> -->
                        <a class="dropdown-item" routerLink="especialidades">Ver especialidad</a>
                    </div>
                </li>
            </ul>
            <a class="btn btn-primary text-black-50 border-dark" role="button" href="userLogin.html" style="font-family: Montserrat, sans-serif;font-weight: normal;background-color: rgb(175, 255, 47);border:none;">Login</a>
        </div>
    </div>
</nav>
<section style="min-height: 650px; padding-top: 100px; padding-bottom: 0px;">
    <router-outlet></router-outlet>
</section>
