<div class="container" style="padding-top: 30px; padding-bottom: 200px;">
    <h1>Nuestro Equipo</h1>
    <h3>Grupo #3</h3>
    <div class="container-fluid">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
                <div class="p-3">
                    <div class="card text-dark bg-light" style="width: 18rem;">
                        <img src="assets/img/etc/user.png" class="card-img-top" style="padding: 20px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ESPINOZA FERNANDEZ, LINO</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="card text-dark bg-light" style="width: 18rem;">
                        <img src="assets/img/etc/user.png" class="card-img-top" style="padding: 20px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">VARGAS PINO, MARIO</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="p-3">
                    <div class="card text-dark bg-light" style="width: 18rem;">
                        <img src="assets/img/etc/user.png" class="card-img-top" style="padding: 20px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">INFANTE SILVA, ANDI</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-3">
                    <div class="card text-dark bg-light" style="width: 18rem;">
                        <img src="assets/img/etc/user.png" class="card-img-top" style="padding: 20px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PAREDES CORDOVA, SEGUNDO</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<h3>Equipo Médico</h3>
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
            <div class="col">
                <div class="p-3">
                    <div class="card text-dark bg-light" style="width: 18rem;">
                        <img src="assets/img/etc/user.png" class="card-img-top" style="padding: 20px;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PAREDES CORDOVA, SEGUNDO</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>-->