<div class="container" style="padding-top: 30px; position: relative;">
    <h3>
        Hola,
        <br> en base al motivo de tu consulta, escoge el servicio donde deseas ser atendido Atendemos tus problemas de salud y urgencias con médicos especialistas, de una manera integral y eficiente. ELEGIR
    </h3>
</div>
<section>
    <div class="container">
        <div class="card text-center bg-">
            <h5 class="card-header">ClinicaCura</h5>
            <div class="card-body" style="background-image: url(https://image.freepik.com/foto-gratis/maqueta-medicina-equipos-medicos-sobre-fondo-blanco_23-2147941697.jpg)">
                <h5>Curarme</h5>
                <p class="card-text">Atendemos tus problemas de salud y urgencias con médicos especialistas, de una manera integral y eficiente.</p>
                <div>
                    <button routerLink="/citamedica/reservas/cura" class="btn btn-secondary" type="button" style="width:100%;">ELEGIR</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <hr>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card text-center">
            <h5 class="card-header">ClinicaCuida</h5>
            <div class="card-body" style="background-image: url(https://image.freepik.com/foto-gratis/fondo-borroso-interior-hermoso-hospital-clinica-lujo-hermoso-falta-definicion-fondo-imagenes-estilo-efecto-vintage_1253-1358.jpg)">
                <h5> Cuidarme</h5>
                <p class="card-text">Realizamos controles y chequeos preventivos en un ambiente especial cuando estás sano y te quieres mantener así.</p>
                <div>
                    <button routerLink="/citamedica/reservas/cuida" class="btn btn-secondary" type="button" style="width:100%;">ELEGIR</button>
                </div>
            </div>

        </div>
    </div>
</section>